@model Cart
@{
    var product = Model.InsuranceProduct;
}

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2>
                Shopping Cart
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="@product.ImageUrl" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <form asp-controller="Checkout" asp-action="RemoveFromCart" method="post">
                                <input type="hidden" name="customerId" value="@Model.CustomerId.ToString()" />
                                <button type="submit" class="btn btn-sm btn-outline-secondary">Remove</button>
                            </form>
                        </div>
                        <small class="text-muted">$@product.Price</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form asp-controller="Checkout" asp-action="CancelOrder" method="post">
                <input type="hidden" name="customerId" value="@Model.CustomerId.ToString()" />
                <button type="submit" class="btn btn-danger">Cancel Order</button>
            </form>
            <form asp-controller="Purchase" asp-action="Purchase" method="post">
                <button type="submit" class="btn btn-success">Purchase</button>
            </form>
        </div>
    </div>
</div>